
// Colors for Index
$amaranth-50: #ffeff2;
$amaranth-100: #ffe1e5;
$amaranth-200: #ffc7d3;
$amaranth-300: #ff9aae;
$amaranth-400: #ff6185;
$amaranth-500: #ff2a5f;
$amaranth-600: #ef064a;
$amaranth-700: #d20041;
$amaranth-800: #af023f;
$amaranth-900: #96053d;
$amaranth-950: #54001b;

$color1: #f50d54;
$color2: #f85d82;
$color3: #6c2c34;
$color4: #9f7379;
$color5: #c09ea2;

// Colors for Login
$blue-50: #e8f0ff;
$blue-100: #d5e4ff;
$blue-200: #b3cbff;
$blue-300: #85a6ff;
$blue-400: #5673ff;
$blue-500: #2f41ff;
$blue-600: #0e0cff;
$blue-700: #0400ff;
$blue-800: #0606cd;
$blue-900: #10149f;
$blue-950: #0a0a5c;