* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(9, 9, 9, 0.9490196078);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 30px;
}

header .nav__container {
  background-color: rgba(210, 0, 65, 0.05);
  box-shadow: 0px 15px 40px rgba(210, 0, 65, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 14px 40px;
  position: fixed;
  z-index: 12;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .nav__container .nav-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ffeff2;
}
header .nav__container .nav-logo img {
  width: 50px;
  border-radius: 100%;
}
header .nav__container .nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 100px;
}
header .nav__container .nav-links a {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.75rem;
  color: #ffeff2;
}
header .nav__container .nav-links a::after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 5px;
  left: 50%;
  background-color: #ff6185;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
header .nav__container .nav-links a:hover::after {
  width: 90%;
}
header .nav__container .container-icon {
  display: flex;
  gap: 40px;
}
header .nav__container .container-icon .container-cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav__container .container-icon .container-cart-icon i {
  font-size: 30px;
}
header .nav__container .container-icon .container-cart-icon .count-products {
  font-size: 15px;
  position: relative;
  top: 15px;
  right: 15px;
  background-color: #ffeff2;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
header .nav__container .container-icon .container-login-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ffeff2;
  font-size: 15px;
  line-height: 15px;
}
header .nav__container .container-icon .container-login-icon i {
  font-size: 30px;
}
header .nav__container .container-icon .container-login-icon p {
  font-weight: bolder;
}
header .nav__container .container-icon .container-login-icon a {
  text-decoration: none;
  color: #54001b;
  font-weight: bolder;
}
header .nav__container .container-icon .container-login-icon:hover {
  background-color: #ff2a5f;
}
header .nav__container .container-icon .container-login-icon:hover i {
  color: #ffeff2;
}
header .nav__container .container-icon .container-login-icon:hover p {
  color: #ffeff2;
}

.container-cart-products {
  position: absolute;
  top: 80px;
  right: 100px;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

.product-image-cart {
  min-width: 100px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.selected {
  padding-top: 60px;
}
.selected .container-selected {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 97, 133, 0.7);
  gap: 100px;
}
.selected .container-selected a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
.selected .container-selected a ::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ffeff2;
  bottom: -15px;
  left: 50%;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.selected .container-selected a span {
  opacity: 0.6;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #ffeff2;
}
.selected .container-selected a img {
  opacity: 0.3;
  width: 45px;
}
.selected .container-selected .link.select span {
  opacity: 1;
}
.selected .container-selected .link.select img {
  opacity: 1;
  filter: invert(100%);
}
.selected .container-selected .link.select ::after {
  width: 90%;
}
.selected .container-selected a:hover ::after {
  content: " ";
  position: absolute;
  width: 90%;
  height: 3px;
  background-color: #ffeff2;
  bottom: -15px;
  left: 50%;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.selected .container-selected a:hover img {
  opacity: 1;
  filter: invert(100%);
}
.selected .container-selected a:hover span {
  opacity: 1;
}

.search-container {
  width: 100%;
  margin-top: 20px;
}
.search-container .search-input {
  display: flex;
  justify-content: center;
}
.search-container .search-input input {
  padding-left: 10px;
  letter-spacing: 1.5px;
  font-size: 25px;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 10px 0 0 10px;
}
.search-container .search-input .img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  width: 60px;
  height: 40px;
  background-color: #ff2a5f;
  cursor: pointer;
}
.search-container .search-input .img img {
  width: 25px;
}

.productos-container {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  width: 100%;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  color: #ffeff2;
}
.productos-container .card {
  background-color: rgba(210, 0, 65, 0.1);
  max-width: 350px;
  min-width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 20px;
}
.productos-container .card img {
  position: relative;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 200px;
  align-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.productos-container .card .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 30px;
  color: #ffeff2;
}
.productos-container .card .info h3 {
  text-align: center;
}
.productos-container .card .price {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}
.productos-container .card button {
  border: none;
  letter-spacing: 1px;
  font-size: 15px;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #ff6185;
  color: #ffeff2;
  font-weight: bolder;
}
.productos-container .card button:hover {
  background-color: rgba(150, 5, 61, 0.9);
}
.productos-container .card button i {
  margin-left: 3px;
}/*# sourceMappingURL=products.css.map */