* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(9, 9, 9, 0.9490196078);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 30px;
}

header .nav__container {
  background-color: rgba(210, 0, 65, 0.05);
  box-shadow: 0px 15px 40px rgba(210, 0, 65, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 14px 40px;
  position: fixed;
  z-index: 12;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .nav__container .nav-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ffeff2;
}
header .nav__container .nav-logo img {
  width: 50px;
  border-radius: 100%;
}
header .nav__container .nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 100px;
}
header .nav__container .nav-links a {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.75rem;
  color: #ffeff2;
}
header .nav__container .nav-links a::after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 5px;
  left: 50%;
  background-color: #ff6185;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
header .nav__container .nav-links a:hover::after {
  width: 90%;
}
header .nav__container .btn {
  border: none;
  padding: 13px 25px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 200;
  background-color: #6c2c34;
  color: #ffeff2;
}

.selected {
  padding-top: 60px;
}
.selected .container-selected {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 97, 133, 0.7);
  gap: 100px;
}
.selected .container-selected a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
.selected .container-selected a ::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ffeff2;
  bottom: -15px;
  left: 50%;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.selected .container-selected a span {
  opacity: 0.6;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #ffeff2;
}
.selected .container-selected a img {
  opacity: 0.3;
  width: 45px;
}
.selected .container-selected .select span {
  opacity: 1;
}
.selected .container-selected .select img {
  opacity: 1;
  filter: invert(100%);
}
.selected .container-selected .select ::after {
  width: 90%;
}
.selected .container-selected a:hover ::after {
  content: " ";
  position: absolute;
  width: 90%;
  height: 3px;
  background-color: #ffeff2;
  bottom: -15px;
  left: 50%;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.selected .container-selected a:hover img {
  opacity: 1;
  filter: invert(100%);
}
.selected .container-selected a:hover span {
  opacity: 1;
}

.search-container {
  width: 100%;
  margin-top: 20px;
}
.search-container .search-input {
  display: flex;
  justify-content: center;
}
.search-container .search-input input {
  padding-left: 10px;
  letter-spacing: 1.5px;
  font-size: 25px;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 10px 0 0 10px;
}
.search-container .search-input .img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  width: 60px;
  height: 40px;
  background-color: #ff2a5f;
  cursor: pointer;
}
.search-container .search-input .img img {
  width: 25px;
}

.productos-container {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 30px;
  color: white;
}
.productos-container .card {
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.productos-container .card img {
  align-self: center;
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=style.css.map */