@import "../colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #090909f2;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 30px;
}

header {
  .nav__container {
    background-color: rgba($amaranth-700, 0.05);
    box-shadow: 0px 15px 40px rgba($amaranth-700, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 14px 40px;
    position: fixed;
    z-index: 12;
    backdrop-filter: blur(10px);
    .nav-logo {
      display: flex;
      gap: 10px;
      align-items: center;
      color: $amaranth-50;
      img {
        width: 50px;
        border-radius: 100%;
      }
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 100px;
      a {
        text-decoration: none;
        position: relative;
        padding-bottom: 0.75rem;
        color: $amaranth-50;
      }
      a::after {
        content: " ";
        position: absolute;
        height: 2px;
        width: 0;
        bottom: 5px;
        left: 50%;
        background-color: $amaranth-400;
        transition: all 0.3s ease;
        transform: translateX(-50%);
      }
      a:hover::after {
        width: 90%;
      }
    }
    .btn {
      border: none;
      padding: 13px 25px;
      font-size: 15px;
      border-radius: 8px;
      font-weight: 200;
      background-color: $color3;
      color: $amaranth-50;
    }
  }
}
.selected {
  padding-top: 60px;
  .container-selected {
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    background-color: rgba($amaranth-400, 0.7);
    gap: 100px;
    a {
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px;
      text-decoration: none;
      ::after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: $amaranth-50;
        bottom: -15px;
        left: 50%;
        transition: all 0.3s ease;
        transform: translateX(-50%);
      }
      span {
        opacity: 0.6;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 700;
        color: $amaranth-50;
      }
      img {
        opacity: 0.3;
        width: 45px;
      }
    }
    a:hover{
      ::after{
        content: ' ';
        position: absolute;
        width: 90%;
        height: 3px;
        background-color: $amaranth-50;
        bottom: -15px;
        left: 50%;
        transition: all 0.3s ease;
        transform: translateX(-50%);
      }
      img{
        opacity: 1;
        filter: invert(100%);
      }
      span{
        opacity: 1;
      }
    }
  }
}
.search-container{
  width: 100%;
  margin-top: 20px;
  .search-input{
    display: flex;
    justify-content: center;
    input{
      letter-spacing: 1.5px;
      font-size: 25px;
      width: 50%;
      height: 40px;
    }
    img{
      padding: 10px;
      width: 20px;
      background-color: $amaranth-500;
    }
  }
}